/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Nunito';
    font-weight: 200 900;
    src:
        local("Nunito"),
        url('./../assets/font/Nunito-VariableFont_wght.ttf') format('truetype'),
        url('./../assets/font/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: 'Nunito';
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}